#dishes-new {
  .page_title{
    width: 53%;
    float:right;
  }
  .formtastic {
    li {
      list-style-type: none;
    }
  }
  .label{
    color: black;
    font-size: 100%;
    line-height: normal;
  }
  .button{
    width: 53%;
    float: right;
  }
}
